server:
  port: 0

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/gameinfo_pay
  application:
    name: pay-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672
  cloud:
    config:
      name: gameinfo, kakao-service
    openfeign:
      circuitbreaker:
        enabled: true
  config:
    import:
      - "optional:configserver:http://localhost:9088"
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        use_id_generator_strategy_three_lo: false
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
    fetch-registry: true
    register-with-eureka: true

management:
  tracing:
    sampling:
      probability: 1.0
    enabled: true
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include:
          - health
          - beans
          - info
          - busrefresh
          - prometheus
          - metrics